*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ee4885;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.site-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(240, 98, 146, 0.3);
  animation: fadeIn 1s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.site-avatar img:hover {
  box-shadow: 0px 4px 8px rgba(240, 98, 146, 0.3);
  transform: scale(1.5) rotate(360deg);
}

.site-info {
  margin-left: 1rem;
}

.site-name {
  font-size: 1.75rem;
  color: #ee4885;
  font-weight: bold;
}

.site-description {
  font-size: 1rem;
  color: #ff90e3;
  position: relative; right: 18px;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #ee4885;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ee4885;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.nav-links a:hover {
  color: #ff90e3;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ee4885;
}

.intro p {
  font-size: 1rem;
  line-height: 1.8;
  color: #ff90e3;
  margin-bottom: 1.5rem;
}

.intro img {
  width: 100%;
  max-width: 300px;
  position: relative; top: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 200px;
  box-shadow: 0px 4px 12px rgba(240, 98, 146, 0.3);
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.intro img:hover {
  transform: scale(1.5) rotate(45deg);
}

.news-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ee4885;
}

.news-section p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.8;
  color: #fd42ce;
  margin-bottom: 1.5rem;
}

.news-entry a {
  font-size: 1.25rem;
  color: #ee4885;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease;
  position: relative;
}

.news-entry a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ee4885;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.news-entry a:hover {
  color: #ff90e3;
}

.news-entry a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.date {
  font-size: 0.8rem;
  color: #ff90e3;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.news-entry p {
  font-family: 'Times New Roman', Times, serif;
}

.preview-img {
  overflow: hidden;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(240, 98, 146, 0.3);
  animation: fadeIn 1s ease;
}

.go-back-button {
  display: inline-block;
  background-color: #ee4885;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(240, 98, 146, 0.3);
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.go-back-button:hover {
  background-color: #ff90e3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wiki1{
  color: #ee4885;
  text-decoration: none;
}
